body {
    background-color: white;
}

h1 {
    border-width: thick;
    border-style: dotted;
    border color: gold
}

h2 {
    border-width: medium;
    border-style: outset;
    border-color: red;
}

h3 {
    border-width: thick;
    border-style: double;
    border-color: green;
}

p {
    border-width: large;
    border-style: dashed;
    border-color: blue;
}

table {
    font-family: arial;
    border-collapse: collapse;
    width: 70%;

}

td,
th {
    border: 1px;
    text-align: left;
    padding: 8px;
    border-radius: 10px;
    border-color: blue;
}

tr:nth-child(even) {
    background-color: lightgray;
}